ws-gen/server/gen/resources/core.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://ah.com/hm/ws/platform/core" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://ah.com/hm/ws/platform/core">
    <xs:complexType name="passport">
        <xs:sequence>
            <xs:element minOccurs="0" name="userName" type="xs:string"/>
            <xs:element minOccurs="0" name="password" type="xs:string"/>
        </xs:sequence>
        <xs:attribute name="sessionTimeout" type="xs:int" use="required"/>
    </xs:complexType>
    <xs:complexType name="session">
        <xs:sequence>
            <xs:element minOccurs="0" name="version" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
